
html {
  box-sizing: border-box;

}
body,html{
  overflow-x: hidden;
  overflow-y:hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #000000, #2b1d25, #4b344e, #605280, #6376b7, #6376b7, #6376b7, #6376b7, #605280, #4b344e, #2b1d25, #000000);
}
#imgs{
  position: absolute;
  top:0;
  
}
#imgs img{
  margin-left:0;
}
#scratch{
  height:500px;
  width:500px;
  z-index:5;
  filter:  drop-shadow(8px 8px 10px gray);
  visibility:visible;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  border-radius:20px;
}
body{
  height:100vh;
  background-image: '';
  background-size:cover;
  background-position: cover;
  background-repeat: no-repeat;
}
#myCanvas{
  position:absolute;
  z-index:1;
 top:0px;
 left:-50px;
 border:none;
  visibility: hidden;
  width:150vw;
  
}
canvas{
  border-radius: 20px;
  margin-left:0px;
}

#canvas{
  
background-image:'';
  background-size: cover;
background-position:center;
background-repeat: no-repeat;
margin-top:10px;
z-index:4;
margin-bottom:20px;
perspective: 1000px;
filter:  drop-shadow(8px 8px 10px gray);
/*transform:scaleX(1.5);*/
transition: transform 1s; 
border-radius:10px;
;
}
.App{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.app-container{
  position:relative;
  display:flex;
  justify-content: center;
  align-items:center;
  
  flex-direction: column;
}
#round{
position:absolute;
border-radius: 20px;
height:500px;
width:500px;
visibility:hidden;
}
@keyframes round{
  0%{
    opacity:0;
    transform:scale(-1);
    
   
  }
  100%{
    opacity:1;
    transform: scale(1);
    
  }
}
/*.image-container>img{

  height:300px;
  width:300px;
  margin-top:30px;
  border:solid 2px black;
  

}*/
h1{
  font-size:60px;
  text-transform: uppercase;
  margin-top:20px;
  margin-bottom:10px;
  /*text-shadow: 1px 5px 5px red;*/
 /* text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 
                0 3px 0 #ccc, 0 4px 0 #ccc, 
                0 5px 0 #ccc, 0 6px 0 #ccc, 
                0 7px 0 #ccc, 0 8px 0 #ccc, 
                0 9px 0 #ccc, 0 10px 0 #ccc, 
                0 11px 0 #ccc, 0 12px 0 #ccc, 
                0 20px 30px rgba(0, 0, 0, 0.5); */
text-shadow: 1px 1px hsl(50, 50%, 45%),
               2px 2px hsl(50, 50%, 40%),
               3px 3px hsl(50, 50%, 35%),
               4px 4px hsl(50, 50%, 34%),
               5px 5px hsl(50, 50%, 33%),
               6px 6px hsl(50, 50%, 32%),
               7px 7px hsl(50, 50%, 31%),
               8px 8px hsl(50, 50%, 30%),
               9px 9px hsl(50, 50%, 29%),
               10px 10px hsl(50, 50%, 28%),
               10px 10px 30px rgba(0,0,0,.7);
              
background-clip: text;
        
}

h2{
 
  top:50%;
  left:50%;
 color:'';
 font-size:50px;
 margin-top:20px;
 
}

h3{
  position:absolute;
  font-size:50px;
  z-index:5;
  
  visibility: hidden;
  text-shadow: 1px 1px hsl(50, 50%, 45%),
               2px 2px hsl(50, 50%, 40%),
               3px 3px hsl(50, 50%, 35%),
               4px 4px hsl(50, 50%, 34%),
               
               10px 10px 30px rgba(0,0,0,.7);
  
 
  
  
}
/*@media screen and (max-width:700px) {
  
  #scratch{
    height:100vh;
    position:absolute;
   width:50%;
  }
  #round{
    height:100px;
    width:100px;
  }
  h1{
    font-size:5px;
  }
}*/
@media screen and (max-width:700px) {
  body{
height:100vh;

  }
  #round, #scratch{
    position:absolute;
    top:150px;
   width:80%;
  }
  /*h3{
    position:absolute;
    top:200px;
    font-size:10px;

  }*/
  #scratch canvas{
    position:absolute;
    top:0%;
  }
  
  h1{
    position: absolute;
    top:20px;
    font-size:30px;
    
  }
  h3{
    position:absolute;
    top:40vh;
    text-align: center;
    width:100vw;
    font-size:40px;
   
  }
 /* #myCanvas{
   
    top:90px;
    
  }*/
}
@media screen and (max-width:400px) {
  body{
    height:100vh;
    
      }
      #round, #scratch{
        position:absolute;
        top:150px;
      height:400px;
      width:250px;
       
      }
      /*h3{
        position:absolute;
        top:200px;
        font-size:10px;
    
      }*/
      #scratch canvas{
        position:absolute;
        top:0%;
      }
      
      h1{
        position: absolute;
        top:20px;
        font-size:30px;
        text-align: center;
      }
     
      h3{
        position:absolute;
        top:40vh;
        text-align: center;
        width:100vw;
        font-size:40px;
      }
     /* #myCanvas{
       
        top:90px;
        
      }*/
}